@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Sarabun:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  background: #074647;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border-bottom: 1px solid gray;
}

.logo {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  user-select: none;
  text-decoration: none;
  border: none;
}
.logo:hover {
  color: #1ea9ab;
}

.navigation {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
}

.navigation .b::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation .b:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav_user {
  width: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.nav_user_dropdown {
  position: absolute;
  top: 3.2rem;
  right: -6.2rem;
  width: 12rem;
  padding-block: 2rem;
  padding-inline: 1.2rem;
  background-color: white;
  border-radius: 5px;
}

.nav_user_dropdown > ul {
  display: grid;
  gap: 1rem;
}

.nav_user_dropdown > ul > a {
  margin: 0;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid gray;
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav_user_dropdown > ul > a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav_user_dropdown > ul > a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #009a6a;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 10px 30px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.home {
  height: 100vh;
  color: #f1efc8;
}

.footer_container {
  display: flex;
  justify-content: center;
  background-color: #074647;;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  height: 25vh;
}
.footer_container .footer_items h2 {
  color: #1ea9ab;
  font-size: 20px;
  padding-bottom: 10px;
}
.footer_container .footer_items p {
  font-size: 14px;
  color: white;
  margin-top: 0;
}

.footer_container .footer_items {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 20px;
  text-decoration: none;
}